<footer class="footer p-2 text-light fs-5">
    <div class="container cards my-3">
      <div class="row mb-5">
        <div class="col text-center">
          <h2><i class="fa-solid fa-spray-can-sparkles"></i> I always keep you up to date with all the latest cosmetics news!</h2>
        </div>
      </div>

      <div id="foot" class="row text-center">
        <div class="col-3">
            <i class="fa-solid fa-face-smile"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-child"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-heart-pulse"></i>
        </div>
        <div class="col-3">
            <i class="fa-solid fa-flask"></i>
        </div>
      </div>


      <div id="foot" class="row footer1 text-center">
            <div class="col-3">
              <p>Skin care</p>
            </div>
            <div class="col-3">
              <p>Body care</p>
            </div>
            <div class="col-3">
                <p>Supplements</p>
            </div>
            <div class="col-3">
                <p>Many other cosmetics</p>
            </div>
       </div>
    </div>

    <div id="foot" class="row text-center footer2">
        <div class="col-md-6 col-4">
          <p>&copy; Codefactory 2024</p>
        </div>
        <div class="col-md-4 col-4">
          <p>All rights reserved</p>
        </div>
    </div>

</footer>
