<div class="container-fluid cont-1">
  <br />
  <br />
  <div class="d-flex align-items-center mx-auto">
    <div class="flex-shrink-0">
      <img
        class="image"
        src="https://cdn.pixabay.com/photo/2018/01/29/17/01/woman-3116587_1280.jpg"
        alt="this is an image"
      />
    </div>
    <div class="flex-grow-1 ms-3 p-5 text">
      I have been a Ringana partner for about 1 year. My family and good friends
      introduced me to the great variety of Ringana products. We have all been
      using them regularly for many years. I am totally convinced and can only
      warmly recommend them to you. There are handy little sample packs that you
      can try out without obligation. Feel free to write to me about your
      experiences so that we can share them on my blog. If you are as
      enthusiastic as I am, then join my team. I will also keep you informed
      about the latest news and offers. There are also always great competitions
      with attractive prizes.
    </div>
  </div>
</div>
