<div class="container-fluid cont-1">
    <br>
    <br>
    <div class="d-flex align-items-center mx-auto">
        <div class="flex-shrink-0">
          <img class="image"
            src="https://cdn.pixabay.com/photo/2018/01/29/17/01/woman-3116587_1280.jpg"
            alt="this is an image"
          />
        </div>
        <div class="flex-grow-1 ms-3 p-5 text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
          accusamus amet voluptas ipsum soluta laudantium harum similique. Quia ex
          facilis nisi numquam ipsam! In accusantium officiis natus blanditiis qui
          alias dolore dolorum, laboriosam ut doloremque dolores voluptatum deserunt
          quasi sunt, expedita ab, obcaecati eos facilis iure corrupti? Eius eos et
          sint, accusamus, quidem exercitationem porro excepturi fugiat corporis
          commodi, maxime laborum a. Minima, a facere quas harum aliquam explicabo non
          quae dignissimos enim minus deserunt autem repellendus eius, hic,
          necessitatibus atque ducimus. Quasi tempora odit ipsam fugit dicta, ex neque
          expedita est, magni nostrum facilis id quis minus aliquid dolore?
        </div>
    </div>
</div>

